@model MachineViewModel
@using System
@using System.Linq
@using Ogd.Virarium.Domain.Models
@using Ogd.Virarium.Web.Models
@{
    var color = InfectionColor.Green;
    foreach(int level in Enum.GetValues(typeof(InfectionColor)))
    {
        if(level <= Model.Infections.Count() && (int)color < level)
        {
            color = (InfectionColor)level;
        }
    }
               
}
<div id="@string.Format("machine_{0}", @Model.Id)" class="machine" style="background-color: @color.ToString();">
    <div class="name">
        @Model.Name
    </div>
    <div class="number_of_infections">
        @Model.Infections.Count()
    </div>
    <div class="list_of_infections">
        @foreach(var infection in Model.Infections)
        { 
            @Html.Partial("ViewObjects/InfectionItem", infection)
        }
    </div>
    @foreach(var nic in Model.NICs)
    {
        <script type="text/javascript">
            jsPlumb.ready(function () {
                var w34Stroke = 'Gray';
                var w34HlStroke = 'rgba(180, 180, 200, 1)';
                jsPlumb.connect({
                    source: '@string.Format("vlan_{0}", nic.VLan.Id)',
                    target: '@string.Format("machine_{0}", nic.Machine.Id)',
                    anchors: ['BottomCenter', 'TopCenter'],
                    paintStyle: { lineWidth: 2, strokeStyle: '@Enum.GetName(typeof(VLanColor), nic.VLan.Id)' },
                    endpointStyle: { gradient: { stops: [[0, w34Stroke], [1, w34HlStroke]], offset: 17.5, innerRadius: 2 }, fillStyle: 'rgb(243,229,0)', radius: 5 },
                    endpointsOnTop: false
                });
            });
        </script>
    }
</div>
