@model IndexViewModel
@using Ogd.Virarium.Web.Models.Home
@using Ogd.Virarium.Resources.Web.Views.Shared
@{
    ViewBag.Title = SharedStrings.Product;
}
<script type="text/javascript">
    function Refresh() {
        location.reload();
    };

    $(document).ready(function () {
        setTimeout("Refresh()", 500);
    });
</script>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Infections
            </th>
            <th>
                Infected with
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var machine in Model.Machines)
        {
            <tr>
                <td>
                    @machine.Name
                </td>
                <td>@machine.Infections.Count()
                </td>
                <td>
                    @foreach(var infection in machine.Infections)
                    { 
                        <div>
                            @infection.Virus.Name
                        </div>
                        <div>
                            @infection.Start - @infection.End
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
